<% provide(:title, "Edit Word") %>
<div class="form">
    <h1 class="text-center">Edit Words</h1>
    <div class="container">
        <%# @category = Category.new unless @category %>
        <%= render 'form' %>
    </div>
</div>