<% provide(:title, 'About') %>
<div class="jumbotron text-center text-light bg-dark">
    <h1 class="display-3">About E-Learning</h1>
    <h4 class="display-4">What is E-Learning?</h4>
    
    <hr class="my-4">

    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= link_to "Learn more", contact_path, class: "btn btn-dark btn-lg" %>
</div>
<div class="text-right">
    <img src="assets/magikarp.gif" width="200px">
</div>