<% provide(:title, 'Contact') %>
<div class="jumbotron bg-dark">
    <div class="container">
        <h1 class="display-3 text-center text-light">Contact page</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/fb.png" class="card-img-top p-4">
                    <div class="card-body">
                        <h5 class="card-title">Facebook</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://www.facebook.com/SunAsteriskPhilippines" class="btn btn-primary">Go to Page</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/linkedin.png" class="card-img-top p-4">
                    <div class="card-body">
                        <h5 class="card-title">LinkedIn</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://www.linkedin.com/company/sun-asterisk-software-development-inc/" class="btn btn-primary">Go to Page</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/twitter.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Twitter</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="https://twitter.com/AwesomeArsAcad" class="btn btn-primary">Go to Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>