<% provide(:title, 'Home') %>
<% if logged_in? %>
<div class="container">
    <div class="row mx-auto">
        <aside class="col-3">
            <br>
            <section>
                <%= render 'shared/user_info' %>
            </section>
        </aside>
    </div>
</div>
<% else %>
    <div class="jumbotron text-center bg-dark text-white pt-4 px-100">
        <h1 class="display-4 mt-4">E-Learning</h1>
    </div>
<% end %>


