<% provide(:title, "Edit Category") %>
<div class="form">
    <h1 class="text-center">Edit Category</h1>
    <div class="container">
        <%# @category = Category.new unless @category %>
        <%= render 'form' %>
    </div>
</div>