<% provide(:title, "Edit Category") %>
<div class="form">
    <h1 class="text-center">Create a New Category</h1>
    <div class="container">
    <%= render  'form' %>
        <%# @category = Category.new unless @category %>
        <%# end %>
    </div>
</div>